{{!-- <div class="profileArea">
  <img class="profileAvatar" {{bind-attr src=user.avatar}} alt="Profile Image">
  <p><strong>{{user.name}}</strong></p>
  <p class="username">@{{user.username}}</p>
  {{#if session.isAuthenticated}}
	  {{#unless isYou}}
		  {{#if user.followedByCurrentUser}}
		  	<button class="followButton" {{action "unfollow" user}}>Unfollow</button>
		  {{else}}
				<button class="followButton" {{action "follow" user}}>Follow</button>
		  {{/if}}
	  {{/unless}}
  {{/if}}
</div> --}}