<header class="postsHeader"><!-- Navigation -->
  <nav>
    <ul>
      {{#if session.isAuthenticated}}
        <li class="brand">
          {{#link-to 'posts' }}Home{{/link-to}}
        </li>
      {{/if}}
      <li class="navLogo">
        <img src="" alt="telegram logo">
      </li>
      {{#if session.isAuthenticated}}
        <li class="userInfoNav">
          {{#link-to 'users' }}
            <img src="" alt="profile">
            <p>{{session.user.id}}</p>
          {{/link-to}}
        </li>
      {{/if}}
    </ul>      
  </nav>
</header><!-- END Navigation -->

<div class="postsContainer"><!-- Main content -->
  <div class="innerPostsContent">
    {{#if session.isAuthenticated}}
      <div class="publishPost">
        <form action="POST">
          {{textarea class="postInput" maxlength="140" placeholder="Write and publish ..." value=postBody}}
          <button class="publish-button" type="submit" {{action "publishPost"}}>Publish</button>
          <span>140 characters</span>
        </form>
      </div>  
    {{/if}}
    <div class="latestPostsTitle">
      <h3>Latest Posts</h3>
    </div>
    {{#each}}
      <div class="eachPost">
        <div class="postProfilePhoto">
          {{#link-to 'users' }}
          <img src="" alt="Profile Photo">
          {{/link-to}}
        </div>
        <div class="eachPostContent">
          <p class="postAuthor"><strong>{{user.id}}</strong></p>
          <p class="postContent">{{body}}</p>
          <span class="timePosted"><em>2 minutes ago</em></span>
          <a class="deletePost">Delete</a>
        </div>
      </div>
    {{/each}}
  </div>
</div><!-- End Main content -->
