{{nav-bar session=session logout="logout"}}
<div class="postsContainer">
  <div class="innerPostsContent">
    {{#if session.isAuthenticated}}
      <div class="publishPost">
        <form action="POST">
          {{textarea class="postInput" maxlength="140" placeholder="Write and publish ..." value=postBody}}
          <button class="publish-button" type="submit" {{action "publishPost"}}>Publish</button>
          <span>{{charCount}} characters left</span>
        </form>
      </div>  
    {{/if}}
    <div class="latestPostsTitle">
      <h3>Latest Posts</h3>
    </div>
    {{#each post in posts}}
      {{post-box　user=controller.session.user post=post session=controller.session action="yesRepost" param=post}}
    {{/each}}
  </div>
</div>