<div class="profileArea">
  <img class="profileAvatar" {{bind-attr src=model.avatar}} alt="Profile Image">
  <p><strong>{{model.name}}</strong></p>
  <p class="username">@{{model.username}}</p>
  {{#if session.isAuthenticated}}
	  {{#unless isYou}}
		  {{#if model.followedByCurrentUser}}
		  	<button class="followButton" {{action "followUnfollow" model}}>Unfollow</button>
		  {{else}}
				<button class="followButton" {{action "followUnfollow" model}}>Follow</button>
		  {{/if}}
	  {{/unless}}
  {{/if}}
</div>
<div class="latestPostsTitle">
  {{#link-to "user.index" activeClass="activePage" tagName="h3"}}Posts{{/link-to}}
  {{#link-to "user.following" activeClass="activePage" tagName="h3"}}Following{{/link-to}}
  {{#link-to "user.followers" activeClass="activePage" tagName="h3"}}Followers{{/link-to}}
</div>
{{outlet}}